<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="HeaderFragment">
<div id="container">
    <header>
        <p class="top_nav">
            <a th:href="@{/}">HOME |</a>
            <a sec:authorize="isAnonymous()" th:href="@{/user/terms}">회원가입 |</a>
            <a sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인 |</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/user/modify(uid=${#authentication.principal.user.uid})}">[[${#authentication.principal.user.nick}]] |</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/admin}">관리자 |</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/market/cart(uid=${#authentication.principal.user.uid})}">장바구니 |</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃 |</a>
            <a href="#">고객센터</a>
        </p>
        <div class="middle_nav">
            <a th:href="@{/}" class="logo"><img th:src="@{/images/logo.png}" alt="로고"/></a>
            <div class="searchBox">
                <input type="search" id="hd_search" placeholder="검색어를 입력하세요.">
                <button class="searchBtn">
                    <img th:src="@{/images/header/search_40.png}" alt="검색">
                </button>
            </div>
            <div class="rightNav">
                <a href="#">
                    <img th:src="@{/images/header/user_50.png}" alt="마이페이지">
                </a>
                <a href="#">
                    <img th:src="@{/images/header/head_cart.gif}" alt="장바구니">
                </a>
                <a href="#">
                    <img th:src="@{/images/header/delivery.gif}" alt="배송">
                </a>
            </div>
        </div>

        <!--<img th:src="@{/images/head_txt_img.png}" alt="3만원 이상 무료배송"/>-->

        <ul class="gnb">
            <li><a th:href="@{/introduction/hello}">팜스토리소개</a></li>
            <li><a th:href="@{/market/list}"><img th:src="@{/images/head_menu_badge.png}" alt="30%"/>장바구니</a></li>
            <li><a th:href="@{/article/list(grp='croptalk',cate='story')}">농작물이야기</a></li>
            <li><a th:href="@{/article/list(grp='event',cate='event')}">이벤트</a></li>
            <li><a th:href="@{/article/list(grp='community',cate='notice')}">커뮤니티</a></li>
        </ul>
    </header>
</html>