
<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <meta charset="UTF-8">
    <title>팜스토리::장보기</title>
    <link rel="stylesheet" th:href="@{../css/style.css}"/>
</head>
<script>
    window.onload = function(){

        const loadData = document.getElementById('loadData');
        loadData.onclick = function (e){
            e.preventDefault();
        }

        const usePointBtn = document.getElementById('usePointBtn');
        const point = document.getElementsByClassName('point')[0];
        const usePoint = document.getElementsByName('pointUse')[0];
        point.childNodes[0];
        usePointBtn.onclick = function(e){
            e.preventDefault();

            if(point.childNodes[1].innerText < usePoint.value){
                alert("보유하신 포인트보다 많이 입력");
            }
        }

    }
</script>
<div id="sub">
    <div><img th:src="@{../images/sub_top_tit2.png}" alt="MARKET"></div>
    <section class="market">
        <aside>
            <img th:src="@{../images/sub_aside_cate2_tit.png}" alt="장보기"/>

            <ul class="lnb">
                <li class="on"><a th:href="@{/market/list}">장보기</a></li>
            </ul>
        </aside>
        <article class="order">
            <nav>
                <img th:src="@{../images/sub_nav_tit_cate2_tit1.png}" alt="장보기"/>
                <p>
                    HOME > 장보기 > <em>장보기</em>
                </p>
            </nav>

            <!-- 내용 시작 -->
            <p class="sort">
                <a th:href="@{#}" class="on">주문상춤 전체(10)</a>
            </p>
            <table border="0">
                <thead>
                <tr>
                    <th>이미지</th>
                    <th>종류</th>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>할인</th>
                    <th>포인트</th>
                    <th>가격</th>
                    <th>소계</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a th:href="@{#}"><img th:src="@{../images/market_item1.jpg}" class="thumb" alt="사과 500g"></a>
                    </td>
                    <td>과일</td>
                    <td><a th:href="@{#}">사과 500g</a></td>
                    <td>1</td>
                    <td>10%</td>
                    <td>40P</td>
                    <td>4,000</td>
                    <td><strong>3,600</strong>원</td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{#}"><img th:src="@{../images/market_item1.jpg}" class="thumb" alt="사과 500g"></a>
                    </td>
                    <td>과일</td>
                    <td><a th:href="@{#}">사과 500g</a></td>
                    <td>1</td>
                    <td>10%</td>
                    <td>40P</td>
                    <td>4,000</td>
                    <td><strong>3,600</strong>원</td>
                </tr>
                <tr>
                    <td>
                        <a th:href="@{/productDetail}"><img th:src="@{../images/market_item1.jpg}" class="thumb" alt="사과 500g"></a>
                    </td>
                    <td>과일</td>
                    <td><a th:href="@{#}">사과 500g</a></td>
                    <td>1</td>
                    <td>10%</td>
                    <td>40P</td>
                    <td>4,000</td>
                    <td><strong>3,600</strong>원</td>
                </tr>

                </tbody>
            </table>
            <div class="final">
                <table border="0">
                    <caption>최종결제정보</caption>
                    <tr>
                        <th>상품수</th>
                        <td>1</td>
                    </tr>
                    <tr>
                        <th>상품금액</th>
                        <td>27,000</td>
                    </tr>
                    <tr>
                        <th>할인금액</th>
                        <td>5,0000원</td>
                    </tr>
                    <tr>
                        <th>포인트사용</th>
                        <td>2000P</td>
                    </tr>
                    <tr>
                        <th>배송비</th>
                        <td class="delivery">5,0000원</td>
                    </tr>
                    <tr>
                        <th>포인트적립</th>
                        <td>400P</td>
                    </tr>
                    <tr>
                        <th>전체주문금액</th>
                        <td class="total">22,000</td>
                    </tr>
                </table>
                <input type="submit" class="btnOrder" value="결제하기">
            </div>


            <h3>주문정보 입력</h3>
            <div class="shipping">
                <table>
                    <tr>
                        <td>주문자</td>
                        <td><input type="text" name="orderer" th:value="${userDTO.name}" readonly></td>
                    </tr>
                    <tr>
                        <td>휴대폰</td>
                        <td><input type="text" name="orderer" th:value="${userDTO.hp}" readonly></td>
                    </tr>
                    <tr>
                        <td>포인트사용</td>
                        <td>
                            <input type="text" name="pointUse" value="">
                            <button id="usePointBtn">사용하기</button>
                            <p class="point">
                                사용가능 <span>[[${userDTO.userpoint}]]</span>원
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <a href="#" id="loadData">불러오기</a>
                        <td>받는분</td>
                        <td><input type="text" name="receiver"></td>
                    </tr>
                    <tr>
                        <td>연락처</td>
                        <td><input type="text" name="hp"></td>
                    </tr>
                    <tr>
                        <td>배송주소</td>
                        <td>
                            <input type="text" name="zip" readonly><button id="btnZip">우편번호 검색</button>
                            <input type="text" name="addr1" placeholder="기본주소 검색">
                            <input type="text" name="addr2" placeholder="상세주소 입력">
                        </td>
                    </tr>
                    <tr>
                        <td>결제방법</td>
                        <td>
                            <label><input type="radio" name="payment">계좌이체</label>
                            <label><input type="radio" name="payment">신용카드</label>
                            <label><input type="radio" name="payment">체크카드</label>
                            <label><input type="radio" name="payment">휴대폰</label>
                        </td>
                    </tr>
                    <tr>
                        <td>기타</td>
                        <td>
                            <textarea name="etc"></textarea>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- 내용 끝 -->

        </article>
    </section>

</div>

</html>